# See https://help.github.com/ignore-files/ for more about ignoring files.
# deploy
/dist

/cache
.eslintcache
.stylelintcache

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*

compilation-stats.json
